fastapi
uvicorn[standard]
pydantic
transformers
torch
python-dotenv
requests
streamlit
deep-translator
fastapi[all]
sqlalchemy
psycopg2-binary
requests
os
datetime
typing
sqlmodel
routers
db
models
langdetect
functools